body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE !important;
  
}

ul {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: #2c3942;
}

.navigator-bar{
  background-color: #222d35 !important;
}
.nav-header{
  color: #46c3d6 !important; 
}

.listoflinks {
  display: flex;
  flex-wrap: wrap;
}

/* .link {
 
  display: flex;
 
  margin: 20px;

  width: 300px;
  height: 500px;
  background-color: #334756;
  
  box-shadow: 0 10px 10px 0 #222d35; 
  border-radius: 25px;
  justify-content: center;
  align-items: center;
}  


.link:hover {

  background-color: #273742;
  
  box-shadow: 0 10px 10px 0 #ffffff; 
  border-radius: 2zpx;
  justify-content: center;
  align-items: center;
}    */

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
}

a {
  color: #EEEEEE !important;
}

a:hover{
  color: #46c3d6 !important;
}
.card{
  background-color: #334756 !important;
  border: #060606 3px solid !important;
  box-shadow: 12px 15px 20px 0px #58809b !important;
  border-radius: 4px !important;
  transition: all 0.3s ease !important;
}

.card:hover {
  box-shadow: 0 10px 10px 0 #225c87 !important;
  border: #46c3d6 0px solid !important;
  background-color: #4f6270 !important;

}

.card-title {
  color: #222d35 !important;
}

.card-body {
  background-color: #46c3d6;
  border-radius: 2px !important;
}

.card-body:hover {
  background-color: #5ec0cf;
}
